
/*Desktop styles*/
 @media only screen and (min-width:1032px) {
    
body {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    'nav nav nav'
    '.brandlogos'
    '.cat1 .cat2 .cat3'
    'banner'
    '.cat4 .cat5 .cat6'
    'footer'
    ;
    }
    h1{
    font-family: outfit400;
    }
        .mainheader {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    }
    nav {
    display: flex;
    justify-content:space-around;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    padding: 5px 0px;
    width: 1033px;
    }
    .topnav { 
    font-family: outfit;   
    font-size: 24px;
    color: white;
    background-color: black;
    text-decoration: none;
    }
    
    #nav1:hover,#nav2:hover,#nav3:hover,#nav4:hover,#nav5:hover,#nav6:hover,#nav7:hover {
    background-color: white;
    box-shadow: inset 0 5px 5px 2px grey;
    color: black;
    }
    #nav1,#nav2,#nav3,#nav4,#nav5,#nav6,#nav7 {  
    padding-left: 5px;
    padding-right: 5px;
    }
    .brandspace {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1033px;
    }
    .brandlogos {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    height: 80px;
    width: 500px;
    } 
    /*about section*/
    #aboutsection {
        display: grid;
        width: 1033px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr 2fr;
        column-gap: 10px;
        row-gap: 10px;
    }
    #abouttestimonials {
        display: flex;
        justify-content: center;
        font-family: outfit, sans-serif;
        font-size: 26px;
        font-weight: 400;
        width: 1033px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        row-gap: 10px;
    }
    .profile {
        border-radius: 50%;
        display: flex;
        margin: 10px;
    }
    #aboutbanner {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 1033px;
        margin-top: 15px;
        margin-bottom: 15px;
    }   
    #signature{
        display: flex;
        justify-content: center;
        width: 300px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    h2 {
        margin: 2px;
        font-family: outfit, Sans-serif;
        font-size: 24px;
        font-weight: 600;
    }
    h3 {
        margin: 2px;
        font-family: outfit, Sans-serif;
        font-size: 24px;
        font-weight: 800;
    }
    h4 {
        font-family: outfit, Sans-serif;
        text-decoration: underline;
    }
    footer {
    background-color: black;
    color: white;
    height: 230px;
    }
    .footercontent {
    display: flex;
    justify-content: center;
    align-content: space-around;
    }
    li a {
        font-family: outfit, Sans-serif;
        color: white;
    }
    .footerlogo {
    margin-right: 200px;
    }
    .copyright {
        display: flex;
        justify-content: center;
        color: gray;
        }
    .email {
        color: gray;
        margin-left: 10px;
    }
     /*Contact page*/
     .contactsection {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: 1033px;
        grid-template-columns: 2fr 2fr;
        column-gap: 50px;
    }
    .itemC1, .itemC2, .itemC3, .itemC4, .itemCA {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        background-color: #504d4d
        margin: 10px 10px;
        font-family: outfit, Sans-serif;
        
    }
    .itemC1 {
        display: flex;
        justify-content: space-between;
        height: 212px;
        font-size: 28px;
        background: #EDEDED;       
        width: 500px;
    }
    .itemCA {
        font-size: 28px;
        background: #EDEDED; 
        width: 500px;
        margin-top: -100px;
    }
    .textC1 {
        margin-left: 20px;
    }
    .hours {
        width: 450px;
        margin-left: -15px;
    }
    .itemC2 {
    
    }
    .itemC3 {
        margin: 15px;
        grid-column-start: 1;
        grid-column-end: 3;
        width: 1033px;
    }
    #conbanner {
        display: flex;
        justify-content: center;
        width: 1033px;
        margin-left: -14px;
        
    }
    .itemC4 {
        display: flex;
        justify-content: center;       
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 1033px;
        height: 500px;
        background: #EDEDED;
        font-size: 28px;
        
    }
    input {
        font-family: outfit, Sans-serif;
        font-size: 24px;
        width: 440px;
        height: 50px;
        border: 4px solid grey;        
        margin: 10px;
    }
    #message {
        width: 900px;
        height: 100px;
    }
    .buttonsend {
        width: 90px;
        display: flex;
        justify-content: center;
    }
    .send{
        font-weight: 800;
        color: white;
        background: #504d4d;
        border: 4px solid #504d4d;
        margin-left: 900px;
    }
     
}
    /*destop to tablet*/

    @media only screen and (max-width:1032px) and (min-width:768px) {
    body {
        font-family: outfit, Sans-serif;
    }
    .mainheader {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 769px;
    }
    .nav {
        display: flex;
        justify-content:space-around;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
        
        padding: 5px 0px;
        width: 769px;
    }
    #nav1:hover,#nav2:hover,#nav3:hover,#nav4:hover,#nav5:hover,#nav6:hover,#nav7:hover {
        background-color: white;
        box-shadow: inset 0 5px 5px 2px grey;
        color: black;
        }
        #nav1,#nav2,#nav3,#nav4,#nav5,#nav6,#nav7 {  
        padding-left: 5px;
        padding-right: 5px;
        color: white;
        }
        h2 {
            font-size: 18px;
        }
.house{
 font-size: 12px;
}
#aboutsection {
  display: grid;
  width: 769px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr 2fr;
  width: 769px;
}
.sponsors {
display: flex;
margin-left: auto;
margin-right: auto;
 width: 500px;
}
.item {
 margin-left: 10px;
 }
.aboutbanner {
 display: flex;
 margin-left: auto;
 margin-right: auto;
 width: 769px;
 margin-top: 10px;
 margin-bottom: 10px;
}
#abouttestimonials{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 769px;
}
.profile {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 175px;
    display: flex;
    margin: 10px;
}
#signature{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;

    }
/*contact section*/
.contactsection {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 769px;
    grid-template-columns: 2fr 2fr;
    column-gap: 50px;
}
.itemC1, .itemC2, .itemC3, .itemC4, .itemCA {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #504d4d    
    }
    .itemC1, .itemCA {
        display: flex;
        justify-content: space-between;
        width: 350px;
        height: 212px;
        font-family: outfit, Sans-serif;
        font-size: 18px;
        background-color: #EDEDED;
    }
    .itemCA{
        height: 150px;
    }
    .textC1{
        margin-left: 20px;
    }
.hours{
    width: 350px;
    margin-left: -50px;
}
.itemC3 {
    margin: 15px;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 769px;
}
    #conbanner {
        display: flex;
        justify-content: center;
        width: 769px;            
    }
    .itemC4 {
        display: flex;
        justify-content: center;       
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 769px;
        height: 500px;
        background: #EDEDED;
        font-size: 18px;
        
    }
    input {
        font-family: outfit, Sans-serif;
        font-size: 24px;
        width: 440px;
        height: 50px;
        border: 4px solid grey;        
        margin: 10px;
    }
    #message {
        width: 600px;
        height: 80px;
    }
    .buttonsend {
        width: 90px;
        display: flex;
        justify-content: center;
    }
    .send{
        font-weight: 800;
        color: white;
        background: #504d4d;
        border: 4px solid #504d4d;
        margin-left: 680px;
    }
    
/*Footer*/
footer {
 margin-top: 150px;
 background-color: black;
 color: white;
 height: 200px;
 }
 .footercontent {
 display: flex;
 justify-content: center;
 align-content: space-around;
 }
 li a {
     font-family: outfit;
     color: white;
 }
 .footerlogo {
 height: 100px;
 margin-right: 100px;
 }
 .copyright {
     display: flex;
     justify-content: center;
     color: gray;
     margin-top: 20px;
     }
 .email {
     color: gray;
     margin-left: 10px;
}
} /*MEDIA BRACKET*/