

.mainheader
 {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 nav
 {
    
    display: inline-block;
    list-style-type: none;
    font-family: 'Outfit', sans-serif;;
    background-color: black;
    padding: 1px;
    word-spacing: 2px;  
 }
 nav a 
 {   
    
    position: relative;
    color: white;
    overflow: hidden;  
 }
 .topnav {
    
	color: white;
    padding: 5px 16px;
	text-decoration: none;
	font-size: 24px;
 }
