/*Desktop styles*/
@media only screen and (min-width:1033px) {

body {
display: grid;
grid-gap: 1em;
grid-template-areas:
'nav nav nav'
'.brandlogos'
'.cat1 .cat2 .cat3'
'banner'
'.cat4 .cat5 .cat6'
'footer'
;
}
h1{
 font-family: outfit400, Sans-serif;
}
.sicons{
height: 65px;
width: auto;
position: relative;
top: 10px;
left: -400px;
}
.mainheader {
display: flex;
margin-left: auto;
margin-right: auto;
}
nav {
display: flex;
justify-content:space-around;
margin-left: auto;
margin-right: auto;
background-color: black;
padding: 5px 0px;
width: 1033px;
}
.topnav { 
font-family: outfit;   
font-size: 24px;
color: white;
background-color: black;
text-decoration: none;
}
#nav1:hover,#nav2:hover,#nav3:hover,#nav4:hover,#nav5:hover,#nav6:hover,#nav7:hover {
background-color: white;
box-shadow: inset 0 5px 5px 2px grey;
color: black;
}
#nav1,#nav2,#nav3,#nav4,#nav5,#nav6,#nav7 {  
padding-left: 5px;
padding-right: 5px;
}
.brandspace {
display: flex;
margin-left: auto;
margin-right: auto;
width: 1033px;
}
.brandlogos {
display: flex;
align-content: center;
justify-content: center;
margin: auto;
height: 80px;
}
#category, #category2 {
display: flex;
margin-left: auto;
margin-right: auto;
justify-content: space-between;
width: 1033px;
font-family: outfit, Sans-serif;
font-size: 18px;
font-weight: 400;
}
.cattext {
    margin-left: 5px;
}
h2 {
    margin: 2px;
    font-family: outfit, Sans-serif;
    font-size: 24px;
    font-weight: 800;
}
.cat1, .cat2, .cat3, .cat4, .cat5, .cat6 {
width: 320px;
}
.cat1:hover, .cat2:hover, .cat3:hover, .cat4:hover, .cat5:hover, .cat6:hover {
width: 320px;
background-color: #ff7b00;
color: white;
}
#categoryA, #categoryB {
    display: flex;
    justify-content: space-evenly;
    width: 1033px;
    margin-left: auto;
    margin-right: auto;
}
.banner {
display: flex;
align-content:  center;
justify-content: space-between;
width: 1033px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
margin-bottom: 20px;
}
.sosialmedia {
color: antiquewhite;
margin: 5px;
display: flex;
padding: 5px 5px;
}
/*Checkout*/
.mainC {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-family: outfit, Sans-serif;
    width: 1033px;
    }
.checkoutitem, .checkoutsummary{
    background-color: #D9D9D9;
    border-radius: 5px;
}
.checkoutitem{
    display: flex;
    align-items: center;
    font-family: Hanuman;
    font-size: 24px;
    height: 200px;
}
.checkoutitem1 {
    height: 180px;
    margin: 0px 10px;
}
.remove {
    display: flex;
    align-self: flex-end;
    margin-bottom: 5px;
    font-size: 14px;
    color: black;
}
.checkoutsummary{
    height: 600px;
}
/*Jacket Specific item*/
.mainitem{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-family: outfit, Sans-serif;
    width: 1033px;
    }
.jacket{
    width: 450px;
}
.logoitem{
    height: 80px;
}
.price{
    margin-top: -50px;
}
p{
    font-family: 'Hanuman', serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: -30px;
}
h3{
    margin-top: -6px;
 font-family: 'Hanuman', serif;
 font-size: 32px;
}
h4{
    font-family: outfit, Sans-serif;
    font-size: 46px;
    margin-bottom: 10px;
}
.cta{
        display: flex;
        justify-content: center;
        align-content: center; 
        border: 0;
        line-height: 1.2;
        padding: 5px 15px;
        margin: 5px;
        font-size: 1.5rem;
        font-family: outfit, sans-serif;
        font-weight: 600;
        text-align: center;
        color: #fff;
        border-radius: 30px;
        width: 200px;
        background-color: #ff7b00
    }
    .cta:hover {
        background-color: #ff8b43
    }
    
    .cart{
        margin: 0 0;
          }
.descriptiontext{
    width: 450px;
    font-family: 'Hanuman', serif;
    font-size: 14px;
    margin-top: 10px;
}
   
    

.terms {
    display: flex;
    width: 1033px;
    margin-left: auto;
    margin-right: auto;
}
}

/*Footer*/
footer {
background-color: black;
color: white;
height: 230px;
}
.footercontent {
display: flex;
justify-content: center;
align-content: space-around;
}
li a {
    font-family: outfit;
    color: white;
}
.footerlogo {
margin-right: 200px;
}
.copyright {
    display: flex;
    justify-content: center;
    color: gray;
    }
.email {
    color: gray;
    margin-left: 10px;
}
} /*media bracket*/


/* Tablet Media */
@media only screen and (max-width:1032px) and (min-width:768px) {
    body {
     font-family: outfit, Sans-serif;
    }
    .mainheader {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 769px;
    }
    .nav {
        display: flex;
        justify-content:space-around;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
        
        padding: 5px 0px;
        width: 769px;
    }
    #nav1:hover,#nav2:hover,#nav3:hover,#nav4:hover,#nav5:hover,#nav6:hover,#nav7:hover {
        background-color: white;
        box-shadow: inset 0 5px 5px 2px grey;
        color: black;
        }
        #nav1,#nav2,#nav3,#nav4,#nav5,#nav6,#nav7 {  
        padding-left: 5px;
        padding-right: 5px;
        color: white;
        }
        h2 {
            font-size: 18px;
        }
   .sponsors {
     display: flex;
     margin-left: auto;
     margin-right: auto;
      width: 500px;
     }
     footer {
        margin-top: 150px;
        background-color: black;
        color: white;
        height: 200px;
        }
        .footercontent {
        display: flex;
        justify-content: center;
        align-content: space-around;
        }
        li a {
            font-family: outfit;
            color: white;
        }
        .footerlogo {
        height: 100px;
        margin-right: 100px;
        }
        .copyright {
            display: flex;
            justify-content: center;
            color: gray;
            margin-top: 20px;
            }
        .email {
            color: gray;
            margin-left: 10px;
       }
    }