body {
display: grid;
grid-gap: 1em;
grid-template-areas:
'nav nav nav'
'.brandlogos'
'.cat1 .cat2 .cat3'
'banner'
'.cat4 .cat5 .cat6'
'footer'
;
}
h1{
font-family: outfit400;
}
.sicons{
height: 65px;
width: auto;
position: relative;
top: 10px;
left: -400px;
}
.mainheader {
display: flex;
margin-left: auto;
margin-right: auto;
}
nav {
display: flex;
margin-left: auto;
margin-right: auto;
justify-content: space-around;
background-color: black;
padding: 5px 0px;
width: 1033px;
}
.topnav {     
font-family: outfit;   
font-size: 24px;
color: white;
background-color: black;
text-decoration: none;
}
#nav1,#nav2,#nav3,#nav4,#nav5,#nav6,#nav7 {
padding-left: 12px;
padding-right: 12px;
}
.brandspace {
display: flex;
margin-left: auto;
margin-right: auto;
width: 1033px;
}
.brandlogos {
display: flex;
align-content: center;
justify-content: center;
margin: auto;
height: 80px;
width: 500px;
}
#category, #category2 {
display: flex;
margin-left: auto;
margin-right: auto;
justify-content: space-between;
width: 1033px;
font-family: outfit, Sans-serif;
font-size: 18px;
font-weight: 400;
}
h2 {
    margin: 2px;
    font-family: outfit, Sans-serif;
    font-size: 24px;
    font-weight: 800;
}
.cat1, .cat2, .cat3 {
width: 320px;
}
.banner {
display: flex;
align-content:  center;
justify-content: space-between;
width: 1033px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
margin-bottom: 20px;
}
.sosialmedia {
color: antiquewhite;
margin: 10px;
display: flex;
padding: 5px 5px;
}

.cat4, .cat5, .cat6 {
width: 320px;

}
footer {
background-color: black;
color: white;
height: 200px;
}
.footercontent {
display: flex;
justify-content: center;
align-content: space-between;
}
.copyright {
    display: flex;
    flex-wrap: wrap;
}

/*Desktop styles*/
@media only screen and (min-width:769px) {

}